@charset "utf-8";
.imgl {
	float:left;
}
.imgl2 {
	float:left;
}
.imgr {
	float:right;
}
.imgr2 {
	float:right;
}
.imgl, .imgl2, .imgr, .imgr2{border:1px solid #a4b5bf; padding:5px;} 
.imgl{margin:0px 15px 0px 0; clear:left;}
.imgl2{margin:5px 15px 8px 0; clear:left;}
.imgr{margin:0 0 8px 15px; clear:right;}
.imgr2{margin:0 0 8px 15px; clear:right;}

/* Primary Menu */
.wrapper-top-nav {   
  padding: 0px 0px 10px 0px;
  margin: 0px;
  color: #FFF;
  text-align: left;
  /*position: fixed;
  z-index: 999;*/
  background-color: #203349;    
  }
  .top-navbar {  
  padding: 0px;
  margin: 0px;
  background-color: #203349;
    z-index: auto;
}
.top-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 21px;
  text-decoration: none;
  font-size: 1rem;
  background-image: linear-gradient(to top, rgba(20,126,248,1), rgba(61,115,177,1));
  border: 1px solid #1a232d;
  border-top: none;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;  
  margin-right: 3px;
}
/* Add an active class to highlight the current page */
.active {
  background-image: linear-gradient(to top, rgba(61,115,177,1), rgba(5,94,196,0));
  color: white;
}
/* Hide the link that should open and close the top-nav on small screens */
.top-nav .icon {
  display: none;
}
/* dropdown container - needed to position the dropdown content */
.my-dropdown {
  float: left;
  overflow: hidden;
}
/* Style the dropdown button to fit inside the top-nav */
.my-dropdown .my-dropdown-btn {
  font-size: 1rem; 
  border: none;
  outline: none;
  color: white;
  padding: 10px 21px;
  background-image: linear-gradient(to top, rgba(20,126,248,1), rgba(61,115,177,1));
  font-family: inherit;
  margin: 0;
  border: 1px solid #1a232d;
  border-top: none;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;  
  margin-right: 3px;
}
/* Style the dropdown content (hidden by default) */
.my-dropdown-content {
  display: none;
  position: absolute;
  background-image: none;
  background-color: #203349;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.my-dropdown-content ul,
.my-dropdown-content li {
  margin: 0 0;
  padding: 0 0;
  list-style: none
}
/* Style the links inside the dropdown */
.my-dropdown-content li a {
  float: none;
  color: #b2d5fd;
  padding: 10px 14px;
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
  text-align: left;
  background-image: none;
  background-color: #203349;
  border: none;
  border-bottom: 1px solid #6e7a89;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;  
}
/* Add a dark background on top-nav links and the dropdown button on hover */
.top-nav a:hover, .my-dropdown:hover .my-dropdown-btn {
  background-color:inherit;
  background-image: linear-gradient(to top, rgba(61,115,177,1), rgba(5,94,196,0));
  color:#b2d5fd;
}
/* Add a grey background to dropdown links on hover */
.my-dropdown-content a:hover {
  background-color: #415164;
  background-image: none;
  color: white;  
}
/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.my-dropdown:hover .my-dropdown-content {
  display: block;
  background-color: #203349;
}
.my-dropdown-content .submenu {
  display: none;
  position: absolute;
  background-color: #203349;
  min-width: 160px;
  left: 160px;
  margin-top: -45px;  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.my-dropdown-content .submenu li {
  background-color: #203349;
  background-color: #203349;
}
.my-dropdown-content .has-submenu:hover .submenu {
  display: block;
}

/* Top Banner Part */
.wrapper-topBanner {   
  padding: 0px;
  margin: 0px;
  background-image: url(../images/topban-bg-exten.png);
  border-bottom: 10px solid #203349;  
  /*top: 55px;*/
  position: relative;
}

.topBanner {   
  background-image: url(../images/topban-bg.png);
  height: 127px;
  }

.topBanner .logo {
  text-align: left; 
  padding: 0px 0px 0px 30px;  
  height: 127px;
}
.topBanner .caption{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1rem; 
  color: #11145b; 
  text-align: center; 
  line-height: 24px; 
  padding: 40px 0px 0px 20px;
  }

.topBanner .banner-right-side{
  font-size: 0.8rem; 
  padding: 0px 50px 0px 0px; 
  margin:0px; }
  
.search-area {	  	
  padding: 5px 0px 0px 15px; 
  margin: 0px; width:100%; 
  height: 52px; 
  background-color:#203349;  
  border: 1px solid #203349;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 
  }

form.search input[type=text] {
  float: left;
  box-sizing: border-box;
  padding: 4px;
  font-size: 14px;
  border: 1px solid grey;  
  width: 165px;
  background: #f1f1f1;
  margin-right: 1px;
}

form.search button {
  float: left;
  width: 36px;
  padding: 4px;
  background: #2196F3;
  color: white;  
  border: 1px solid #3a4653;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: none;
}

.partner {	  	
  padding: 15px 0px 0px 0px; 
  margin: 0px; width:100%; 
  text-align: center; 
  color: #11145b; 
  font-size: 0.9rem; 
  font-weight:bold;  
}

/* Top Banner for Mobile and Tab view */
.wrapper-topBanner-SM {
  padding: 0px;
  text-align: center; 
  background-image: url(../images/topban-bg.png);
  border-bottom: 10px solid #203349;
}

.wrapper-topBanner-SM .logo-SM {
  text-align: left; 
  padding: 0px;
  height: 93px;
}

.wrapper-topBanner-SM .banner-Rside{
  font-size: 0.8rem; 
  padding: 0px 50px 0px 0px; 
  margin:0px; }
  
.search-SM {	  	
  padding: 5px 15px 0px 15px; 
  margin: 0px; width:100%; 
  height: 47px;
  text-align: right;
  background-color:#203349;  
  border: 1px solid #203349;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 
  }
  
  form.search-SM input[type=text] {
  float: right;
  box-sizing: border-box;
  padding: 4px;
  font-size: 12px;
  border: 1px solid grey;  
  width: 168px;
  background: #f1f1f1;
}

form.search-SM button {
  float: right;
  width: 36px;
  padding: 2px;
  background: #2196F3;
  color: white;  
  border: 1px solid #3a4653;
  border-left: none;
  cursor: pointer;
}

form.search-SM button:hover {
  background: #0b7dda;
}

form.search-SM::after {
  content: "";
  clear: both;
  display: none;
}

/* Slider Part */
.wrapper-slider {
  padding: 30px 0px 30px 0px;
  margin: 0px;  
  background-color: #415164;
  border-bottom: 10px solid #203349;    
  }

.slider {
  padding: 5px;
  margin: 0px;
  background-color: #d9dce0;
  border: 1px solid #203349;
  }

/* Content Part */
.wrapper-content {
  padding:0px;
  margin: 0px;
  background-color: #f4f5f6;      
  }
.wrapper-content a {
   color: #F60;
   text-decoration: none; 
  }
  
  .wrapper-content a:hover {
  color: #367bc3;  
}

/* Left Menu Part */
.left-part-area{
  height: 100%;
  padding: 30px 15px 30px 0px;  
  margin: 0px;  
}

.left-part{
  height: 100%;
  padding: 0px;  
  margin: 0px;
  font-size: 0.78rem;   
  color: #367bc3;    
  border: 1px solid #d2d6db;  
}

.left-menu .header{  
  padding: 10px 15px 10px 15px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, rgba(54,71,91,1), rgba(77,92,109,1)); 
  border: 5px solid #FFFFFF;    
}
.left-menu ul {  
  list-style:  none;
  margin: 0;
  padding: 0px;   
}

.left-menu li {
  padding:5px 15px 5px 25px;
  font-weight: bold;
  background-image: url(../images/blue-arrow-L1.png);
  background-repeat:  no-repeat;
  border-top: solid 1px #d2d6db;
  border-bottom: solid 1px #fafbfb;
}

.left-menu li a {
   color: #367bc3;
   text-decoration: none; 
  }
  
  .left-menu li a:hover {
  color: #db2805;       
}

.left-menu li:hover {
       
   background-color: #edeff1; 
}

.left-menu li.sub-menu1 {
  padding:7px 0px 7px 35px;
  background-image:url(../images/blue-arrow-L2.png);
  background-repeat: no-repeat;
  }
  
.left-menu li.sub-menu2 {
  padding:7px 0px 7px 45px;
  background-image:url(../images/blue-arrow-L3.png);
  background-repeat: no-repeat;    
}

.left-menu li.last {  
  border-bottom: solid 1px #d2d6db;
} 

.left-menu .image-left { 
  padding: 0px 5px 5px 5px;
  text-align: left;
  background-color: #FFFFFF;
  }

.left-menu .txt-lb { 
  padding: 10px 15px 10px 15px;
  font-size: 0.78rem;
  font-weight: bold;
  line-height: 20px;
  color: #FFFFFF;
  text-align: justify;
  background-color: #2f4157;
  border: 5px solid #FFF;
  border-top: 0px;
}

.left-menu .more-left{ 
  padding: 7px 15px 7px 0px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: right;
  border-top: solid 1px #b9d0e6;  
}

/* Center Content Part */
.content-part-area{
  height: 100%;
  padding: 15px 15px 15px 15px;  
  margin: 0px;  
}

.content-part{
  padding: 15px;  
  margin: 0px;
  font-size: 14px; 
  color: #367bc3;  
  }

.content{
  width:100%;  
  height: 100%;
  padding: 0px;  
  margin: 0px;
  color: #103b6c;    
  border: 1px solid #d2d6db;   
  }

.content .header{  
  padding: 10px 15px 10px 15px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, rgba(54,71,91,1), rgba(77,92,109,1)); 
  border: 5px solid #FFFFFF;   
}

.content .header2{  
  padding: 10px 15px 10px 15px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, rgba(54,71,91,1), rgba(77,92,109,1));  
  border: 5px solid #FFFFFF;   
}

.content .sap{  
  color: #89c7fd;  
}


.content .txt{  
  padding:10px 15px 10px 15px;
    font-size: 14px;
  line-height: 20px;
  text-align: justify;
  border-top: solid 1px #d2d6db;   
  
}

.txt-b {
  padding: 5px 15px 5px 15px;
  font-size: 0.78rem;
  font-weight: bold;
  line-height: 20px;  
  border-top: solid 1px #d2d6db;   
  border-bottom: solid 1px #fafbfb;   
  }
.txt-b2 {
  padding: 5px 15px 5px 15px;
  font-size: 0.78rem;
  font-weight: bold;
  line-height: 20px;  
  border-top: solid 1px #d2d6db;   
  border-bottom: solid 1px #fafbfb;   
  } 


.content .more{ 
  padding: 0px 15px 10px 0px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: right;
  color: #367bc3;
  border-bottom: solid 1px #fafbfb;  
}

.content .more2{ 
  padding: 0px 15px 10px 0px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: right;
  color: #367bc3;
  border-bottom: solid 1px #fafbfb;  
}

.content .more3{ 
  padding: 0px 15px 10px 0px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: right;
  color: #367bc3;
  border-bottom: solid 1px #fafbfb;  
}

/* Right Part */
.right-part-area{
  height: 100%;
  padding: 30px 0px 30px 15px;  
  margin: 0px;  
}

.right-part{
  height: 100%;
  padding: 0px;  
  margin: 0px;
  font-size: 14px; 
  color: #367bc3;  
   
  border: 1px solid #d2d6db;  
}

.right-part .header{  
  padding: 10px 15px 10px 15px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, rgba(54,71,91,1), rgba(77,92,109,1));  
  border: 5px solid #FFFFFF;    
}

.news { 
  padding:0px 15px 0px 15px;
  border-top: solid 1px #d2d6db;
  border-bottom: 1px solid #d2d6db;
	 
 }

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;    
}

.news-item 
{
    padding: 4px 15px 4px 25px;
    margin:0px;
    color: #103b6c;
    line-height: 18px;
    background-image: url(../images/bullet-support.png);
  background-repeat: no-repeat;
    border-bottom:1px dotted #b1b8bf; 
}
.img-r1 { 
  padding: 0px 5px 5px 5px;
  text-align: left;
  background-color: #FFFFFF;
  border-bottom: solid 1px #d2d6db;
  }

.img-r2 { 
  padding: 0px;
  text-align: center;
  border-bottom: solid 1px #d2d6db;
  border-top: solid 1px #FFF;
  }

.img-r3 { 
  padding: 0px;
  text-align: center;
  border-top: solid 1px #d2d6db;
  }

.img-change { 
  padding: 15px; 
  text-align: center;
  border-top: solid 1px #d2d6db;
  }

.our-support {
  padding:5px 15px 5px 25px;
  color: #060144;
  font-size: 0.78rem;
  font-weight: bold;
  line-height: 18px;
  background-image: url(../images/bullet-support.png);
  background-repeat: no-repeat;  
  border-top: solid 1px #fafbfb;
  border-bottom: solid 1px #d2d6db;
}

.rs-bold{ 
  padding: 8px 15px 8px 0px;
  font-size: 0.75rem;
  text-align: right;
  font-weight: bold;
  color: #db2805; 
  border-bottom: solid 1px #d2d6db;
  border-top: solid 1px #fafbfb;    
}
.wrapper-footer {  
  padding: 0px 0px 20px 0px;
  text-align: center;
  background-color: #415164;
  border-top: solid 10px #213349;
  }

.footer {
  width: 100%;
  height: 100%; 
  padding: 10px 15px 0px 15px;
  font-size: 0.85rem;
  color: #c6cbd1;
  text-align: center;
  line-height: 20px;
  }

.footer a {
   color: #c6cbd1;
   text-decoration: none; 
  }

  
  .footer a:hover {
  color: #52a0fb; 
      
}
  
.bot-txt {
  padding: 15px 30px 0px 30px;
  text-align:justify;
  color: #b4bbc2;
  font-size: 0.80rem;	   
  }

/* Brake Points for Multi Resoultion */
@media screen and (max-width: 570px) {
.wrapper-topBanner{
 display: none;
}
.wrapper-topBanner{
 display: none;
}
.wrapper-topBanner-SM{
 display: block;
}
.banner-Rside {
 display: none;  
  }
.bot-txt {
  display: none;
  }

}

@media screen and (max-width: 768px) {
.wrapper-top-nav {   
  padding: 0px 0px 0px 0px;
  }
/* When the screen is less than 786 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the top-nav (.icon) */
.top-nav a:not(:first-child), .my-dropdown .my-dropdown-btn {
   display: none;      
  }    
.top-nav a.icon {
   float: right;
   display: block;
   background-image: none;
   border: none;
 }    
.top-nav a:hover { 
   background-image: none;
   border: none;
 }
.top-nav a.active {
  background-image: none;
  border: none;   
 }
/* The "responsive" class is added to the top-nav with JavaScript when the user clicks on the icon. This class makes the top-nav look good on small screens (display the links vertically instead of horizontally) */    
.top-nav.responsive {position: relative;}
.top-nav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;     
}
 .top-nav.responsive a {
  float: none;
  display: block;
  text-align: left;
  background-color: none;
  background-image: none;
  border: none;
  border-bottom: 1px solid #6e7a89;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;  
  margin-right: 0px;
}
 .top-nav.responsive .my-dropdown {float: none;}
 .top-nav.responsive .my-dropdown-content {position: relative;}
 .top-nav.responsive .my-dropdown-content a {padding: 10px 40px; font-size: 1rem;}
 .top-nav.responsive .my-dropdown-content .submenu a {padding: 10px 60px;}
 .top-nav.responsive .my-dropdown .my-dropdown-btn {
   display: block;
   width: 100%;
   text-align: left;	
}
 .my-dropdown-content .submenu {
   position: inherit;
   margin-top: 0px;
   }
/* Style the dropdown button to fit inside the top-nav */
.my-dropdown .my-dropdown-btn {
  background-image: none;
  border: none;
  border-bottom: 1px solid #6e7a89;
  background-color: #203349;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;  
  margin-right: 0px;
}

/* Add a dark background on top-nav links and the dropdown button on hover */
.top-nav a:hover, .my-dropdown:hover .my-dropdown-btn {
  background-color: none;
  background-image: none;
}
.wrapper-topBanner{
 display: none;
}
.wrapper-topBanner-SM{
 display: block;
}

.search-SM {	  	
  padding: 5px 45px 0px 15px; 
  
  }
form.search-SM input[type=text] {
  width: 180px;
}
.left-part-area{
  display: none;
}
.right-part-area{
  display: none;
}
.bot-txt {
  display: none;
  }


}

@media screen and (min-width: 992px) { 

 .top-nav a {
  padding: 10px 12px;
  }

.my-dropdown .my-dropdown-btn {
 padding: 10px 12px;
}
.wrapper-topBanner{
 display: block;
}
.wrapper-topBanner-SM{
 display: none;
}
.topBanner .logo {
  padding: 0px 0px 0px 15px; 
}
.search-area {	  	
  padding: 5px 10px 0px 10px; 
  }

form.search input[type=text] {
  width: 131px;
}
.content .header2{  
  font-size: 0.90rem;  
}
}

@media screen and (min-width: 1200px) { 

 .top-nav a {
  padding: 10px 21px;
  }

.my-dropdown .my-dropdown-btn {
 padding: 10px 21px;
}
.wrapper-topBanner{
 display: block;
}
.wrapper-topBanner-SM{
 display: none;
}
.topBanner .logo {
  padding: 0px 0px 0px 30px; 
}
.search-area {	  	
  padding: 5px 0px 0px 15px; 
  }

form.search input[type=text] {
  width: 165px;
}
.content .header2{  
  font-size: 0.90rem;  
}
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1306px;
  }
.top-nav a {
  padding: 10px 30px;
  }

.my-dropdown .my-dropdown-btn {
 padding: 10px 29px;
}
.topBanner .logo {
  padding: 0px 0px 0px 50px; 
}
.search-area {	  	
  padding: 5px 15px 0px 15px; 
  }
form.search input[type=text] {
  width: 207px;
}
.left-menu .more-left{ 
  padding: 7px 15px 229px 0px;
  }
.txt-b2 {
  padding: 5px 15px 25px 15px;
  }
.content .header2{  
  font-size: 1rem;  
}
.content .more2{ 
  padding: 20px 15px 10px 0px;  
}
.content .more3{ 
  padding: 10px 15px 84px 0px;  
}
}

@media screen and (max-width: 576px) {
.wrapper-topBanner{
 display: none;
}
.wrapper-topBanner{
 display: none;
}
.wrapper-topBanner-SM{
 display: block;
}
.search-SM {	  	
  padding: 5px 15px 0px 15px; 
  
  }
form.search-SM input[type=text] {
  width: 150px;
}
.wrapper-slider{
  display: none;
}
.bot-txt {
  display: none;
  }



}