@charset "utf-8";

.wrapper-topnav {  
  padding: 0px 15px 5px 15px;
  color: #ffffff; 
  text-align: center;
  font-size: 14px;
  background-color: #294e79;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.aside {
  background-color: #33b5e5;
  padding: 0px 0px 15px 0px;
  color: #ffffff; 
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Style the links inside the navigation bar */
.topnav {  
  overflow: hidden;  
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 1rem;
  background-color: #3d73b1;
  border: 1px solid #253950;
  border-top: none;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;  
  margin-right: 3px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropdown-btn {
  font-size: 1rem; 
  border: none;
  outline: none;
  color: white;
  padding: 12px 14px;
  background-color: #3d73b1;
  font-family: inherit;
  margin: 0;
  border: 1px solid #253950;
  border-top: none;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;  
  margin-right: 3px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;  
  background-color: #294e79;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content ul,
.dropdown-content li {
  margin: 0 0;
  padding: 0 0;
  list-style: none
}

/* Style the links inside the dropdown */
.dropdown-content li a {
  float: none;
  color: white;
  padding: 12px 14px;
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #294e79;
  border: none;
  border-bottom: 1px solid #253950;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;  
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropdown-btn {
  background-color: #2c81e2;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #2c81e2;
  color: white;
  
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .submenu {
  display: none;
  position: absolute;
  background-color: #294e79;
  min-width: 160px;
  left: 160px;
  margin-top: -45px;  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .submenu li {
  background-color: #294e79;
}

.dropdown-content .has-submenu:hover .submenu {
  display: block;
}

/* Top Banner */
.wrapper-topBanner {
  padding: 0px; 
  background-image: url(../images/topBannerBg.jpg);
  border-bottom: 10px solid #294e79;
}

.wrapper-topBanner .logo {
  text-align: left; 
  padding: 0px 0px 0px 12px;  
  height: 127px;
}

.wrapper-topBanner .caption{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1rem; 
  color: #11145b; 
  text-align: center; 
  line-height: 24px; 
  padding: 40px 0px 0px 20px;
  }
.wrapper-topBanner .caption-tab{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1rem; 
  color: #11145b; 
  text-align: center; 
  line-height: 24px; 
  padding: 30px 0px 0px 20px;
}
.wrapper-topBanner .banner-right-side{
  font-size: 0.8rem; 
  padding: 0px 50px 0px 0px; 
  margin:0px; }
  
.search-area {	  	
  padding: 5px 0px 0px 20px; 
  margin: 0px; width:100%; 
  height: 52px; 
  background-color:#294e79;  
  border: 1px solid #294e79;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 
  }

form.search input[type=text] {
  float: left;
  box-sizing: border-box;
  padding: 6px;
  font-size: 14px;
  border: 1px solid grey;  
  width: 130px;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 36px;
  padding: 3px;
  background: #2196F3;
  color: white;  
  border: 1px solid #3a4653;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: none;
}

.partner {	  	
  padding: 15px 0px 0px 0px; 
  margin: 0px; width:100%; 
  text-align: center; 
  color: #11145b; 
  font-size: 0.9rem; 
  font-weight:bold;  
}

/* Top Banner for Mobile view */
.wrapper-topBanner-SM {
  padding: 0px;
  text-align: center; 
  background-image: url(../images/topBannerBg.jpg);
  border-bottom: 10px solid #294e79;
}

.wrapper-topBanner-SM .logo-SM {
  text-align: center; 
  padding: 0px 0px 0px 20px;
}

.wrapper-topBanner-SM .search-SM {
  text-align: right; 
  padding: 0px 8px 0px 8px; 
  background-color: #294e79; 
  width: 100%; 
  height:30px;
  }
  
  form.search-SM input[type=text] {
  float: right;
  box-sizing: border-box;
  padding: 6px;
  font-size: 14px;
  border: 1px solid grey;  
  width: 210px;
  background: #f1f1f1;
}

form.search-SM button {
  float: right;
  width: 36px;
  padding: 3px;
  background: #2196F3;
  color: white;  
  border: 1px solid #3a4653;
  border-left: none;
  cursor: pointer;
}

form.search-SM button:hover {
  background: #0b7dda;
}

form.search-SM::after {
  content: "";
  clear: both;
  display: none;
}

.wrapper-slider { 
  text-align: center; 
  padding: 20px 0px 20px 0px; 
  border-bottom: 10px solid #294e79;
  background-image: linear-gradient(rgba(0,153,204,0), rgba(51,181,229,1));  
 } 
 
.wrapper-center-part {
  text-align: left; 
  padding: 15px 15px 30px 15px; 
  background: url(../images/content-TopBg.jpg) repeat-x left top; 
  background-color:#e8f5fa; 
  height: auto; 
 }

.left-part{
  float: left; 
  height: 100%;
  padding: 15px;  
  margin: 0px;  
  }
  
  .left-part-area{
  float: left; 
  height: 100%;
  padding: 0px;  
  margin: 0px;
  font-size: 0.78rem; 
  color: #0659b8;  
  background-color: #cfe5ed;
  border: 1px solid #a0cbdc;
  
  }
  
  

.left-menu{  
  padding: 0px;  
  margin: 0px;
  font-size: 0.82rem;
       
  }
  
  .left-menu .header{  
  padding: 12px 15px 12px 15px;
  font-size: 1rem;
  text-align: center;
  color: white;  
  background-image: linear-gradient(to top, rgba(23,77,139,1), rgba(44,129,226,1));
  border: 5px solid #e8f5fa;
   
  
  
  }

.left-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
  }

.left-menu li {
  padding:7px 0px 7px 12px;    
  list-style-image:url(../images/bullet1.png);
  list-style-position:inside;
  border-top: solid 1px #3fb9e6;
  border-bottom: solid 1px #FFF;
  }
 
.left-menu li:hover {
  color: #FFF;
  background-color: #232b3e;
  }

.left-menu li.sub-menu1 {
  padding:7px 0px 7px 30px;
  list-style-image:url(../images/bullet2.png);
  list-style-position:inside;
  }
  
.left-menu li.sub-menu2 {
  padding:7px 0px 7px 48px;
  list-style-image:url(../images/bullet3.png);
  list-style-position:inside;
  }
 
.left-menu li.last {
  padding:7px 0px 7px 12px;    
  list-style-image:url(../images/bullet1.png);
  list-style-position:inside; 
  border-bottom: solid 1px #3fb9e6;
  } 
  
.left-menu .image-L { 
  padding: 5px 5px 0px 5px;
  text-align: left;
  background-color: #e8f5fa;
  border-top: solid 1px #3fb9e6;
  border-bottom: solid 1px #3fb9e6;
  }
  
.left-menu .txt-L { 
  padding: 12px 15px 15px 15px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #012443;
  text-align: justify;
  background-color: #8bb2d5;  
  }
  
.left-menu .more-L{ 
  padding: 8px 15px 7px 0px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fe5c04;
  text-align: right;  
  border-radius: 7px; 
  }
  
  
  
  
.content-part{ 
  float: left;
  height: 100%;
  padding: 15px;  
  margin: 0px;
  font-size: 0.78rem; 
  color: #0b77a7;  
  background-color: #def1f8;
  border: 1px solid #adcbe3;
  border-radius: 0.50rem; 
  }
  
.right-part{ 
  float: left;
  height: 100%;
  padding: 15px;  
  margin: 0px;
  font-size: 0.78rem; 
  color: #0b77a7;  
  background-color: #def1f8;
  border: 1px solid #adcbe3;
  border-radius: 0.50rem; 
  }
   
  

/* When the screen is less than 576 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 576px) {
 .topnav a:not(:first-child), .dropdown .dropdown-btn {
   display: none;
 }
 .topnav a.icon {
   float: right;
   display: block;
 }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 576px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
}
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
}
 .topnav.responsive .dropdown {float: none;}
 .topnav.responsive .dropdown-content {position: relative;}
 .topnav.responsive .dropdown-content a {padding: 12px 14px;}
 .topnav.responsive .dropdown .dropdown-btn {
   display: block;
   width: 100%;
   text-align: left;	
}
 .dropdown-content .submenu {
   position: inherit;
   margin-top: 0px;  
}

div.wrapper-topBanner {
	  display: none;  
}
  
  div.wrapper-topBanner-SM {
	  display: block;  
}
 
}

@media screen and (min-width: 768px) { 
 
 .wrapper-topnav {  
   padding: 0px 15px 5px 15px;
}

  .topnav a {
  	font-size: 0.95rem;
  	padding: 10px 4px 10px 4px; 
 	margin-right: 0px;  
}
 .dropdown .dropdown-btn {
   font-size: 0.9rem;
   padding: 10px 4px 10px 4px;
   margin-right: 0px;  
}

 .wrapper-topBanner .caption{
   display: none;
}
 
 .wrapper-topBanner .caption-tab{
   display: block;
   font-size: 0.90rem;
   }
   
 .search-area {	  	
   padding: 5px 0px 0px 10px;  
}

 form.search input[type=text] {
   width: 85px; 
}

.wrapper-topBanner-SM {
  display: none;  
}

.wrapper-topBanner-SM .logo-SM {
  display: none;
}

.wrapper-topBanner-SM .search-SM {
  display: none;
}

}

@media screen and (min-width: 992px) { 

 .wrapper-topnav {  
   padding: 0px 15px 5px 25px;
}
  .topnav a {
    padding: 12px 14px;
    margin-right: 5px;  
}
 .dropdown .dropdown-btn {
   padding: 12px 14px;
   margin-right: 5px;  
}

.wrapper-topBanner .logo {  
  padding: 0px 0px 0px 12px;    
}

 .wrapper-topBanner .caption{
   display: block;  
}
 
 .wrapper-topBanner .caption-tab{
   display: none;   
}

.search-area {	  	
   padding: 5px 0px 0px 12px;  
}

form.search input[type=text] {
   width: 140px; 
}

.wrapper-topBanner-SM {
  display: none;  
}

.wrapper-topBanner-SM .logo-SM {
  display: none;
}

.wrapper-topBanner-SM .search-SM {
  display: none;
}
  
}


@media screen and (min-width: 1200px) { 

 .wrapper-topnav {  
   padding: 0px 0px 10px 56px;
}
  .topnav a {
    padding: 12px 28px;
    margin-right: 5px;  
}
 .dropdown .dropdown-btn {
   padding: 12px 28px;
   margin-right: 5px;  
}

.wrapper-topBanner .logo {  
  padding: 0px 0px 0px 90px;    
}

 .wrapper-topBanner .caption{
   display: block;   
   font-size: 1.05rem;
}
 
 .wrapper-topBanner .caption-tab{
   display: none;   
}

.search-area {	  	
   padding: 5px 0px 0px 25px;  
}

form.search input[type=text] {
   width: 200px; 
}

.wrapper-topBanner-SM {
  display: none;  
}

.wrapper-topBanner-SM .logo-SM {
  display: none;
}

.wrapper-topBanner-SM .search-SM {
  display: none;
}

}


